/* ================= HEADER CONTAINER ================= */
.header {
  height: 72px;
  padding: 0 32px;
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: var(--white-color);
}

:root {
    --primary-color: #8F0177;
    --white-color: #FFFFF0;
    --gray-color: #F5F2F2;
}

/* ================= LOGO SECTION ================= */
.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 20px;
}

.logo-icon {
  width: 22px;
  height: 22px;
  object-fit: contain;
}


.logo-text {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  cursor: pointer;
}

/* ================= MENU BUTTON ================= */
.header__menu {
  margin-left: 20px;
  margin-right: 0;
}

.menu-btn {
  background: transparent;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-color); 
  cursor: pointer;
  padding: 8px 14px;
  border-radius: 999px; /* fully smooth capsule */
  transition: all 0.25s ease;
  transition: 0.2s ease;
}
.menu-btn:hover{
  font-weight: 700;
  transform: scale(1.08);
  background-color: var(--primary-color);
  color: white;
  
}
.menu-arrow:hover{
   font-weight: 700;
  background-color: var(--primary-color);
  color: white;
}
.menu-arrow {
  color: #7b1fa2; /* Purple arrow */
  font-size: 12px;
  margin-left: 4px;
}

/* ================= SEARCH BAR ================= */
.header__search {
  flex: 1;
  position: relative;
  max-width: 520px;
  margin: 0 auto;
}

.search-input {
  width: 100%;
  height: 42px;
  padding: 0 14px 0 42px;
  border-radius: 10px;
  border: none;
  background-color: var(--gray-color);
  font-size: 14px;
}

.search-input:focus {
  outline: none;
}

.search-icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #888;
  font-size: 16px;
  pointer-events: none;
}

/* ================= RIGHT ACTIONS ================= */
.header__actions {
  display: flex;
  align-items: center;
  gap: 25px;
}

/* ================= BASKET ICON ================= */
.basket-btn {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #7b1fa2;
}

/* ================= SIGN IN BUTTON ================= */
.signin-btn {
  background: transparent;
  border: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  color: #000;
}

/* ================= CREATE ACCOUNT BUTTON ================= */
.create-btn {
  background-color: var(--primary-color);
  color: #ffffff;
  border: none;
  padding: 10px 18px;
  border-radius: 6px; /* More square */
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
