.breadcrumb {
  width: 100%;              /* full screen width */
  background: linear-gradient(90deg, #f1c7ec 0%, #ffffff 100%); /* pink → white */
  padding: 16px 100px;          /* increase height */
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}


.breadcrumb-link {
  color: #b32cbf;
  text-decoration: none;
  font-weight: 700;
}

.breadcrumb-link:hover {
  text-decoration: underline;
}

.breadcrumb-separator {
  margin: 0 8px;
}

.breadcrumb-current {
  color: #999;
}
.breadcrumb-container {
  max-width: 1200px;   /* same as your website width */
  margin: 0 auto;      /* center content */
  padding: 0 20px;
}
