.books-layout {
  display: grid;
  grid-template-columns: 330px 1fr; /* Filter | Books */
  gap: 50px; /* more space between filter & grid */
  padding: 40px 80px; /* shift grid more right */
  align-items: flex-start;
  max-width: 1400px;
  margin: auto;
}

/* LEFT FILTER */
.books-filter {
  
  border-radius: 16px;
  padding: 24px;
  width: 100%;
}

/* RIGHT CONTENT */
.books-content {
  width: 100%;
  overflow: hidden;
}
