.books-grid-wrapper {
  width: 100%;
}

/* HEADER */
.books-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.books-header h2 {
  font-size: 28px;
}

.books-header p {
  font-size: 14px;
  color: #777;
}
/* newest button */
.books-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.books-actions select {
  padding: 8px 12px;
  border-radius: 8px;
  border-color: purple;
  border: 1px solid #ddd;
}

.grid-btn {
  border: 1px solid #eee;
  background: purple;
  color: white;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
}

/* GRID */
.books-grid {
  display: grid;
  /* repeat 4 to show how many cards you want to show at the screen */
  grid-template-columns: repeat(4, 220px); /* card width */
  gap: 20px 28px; /* vertical | horizontal gap */
  justify-content: start; /* keep cards aligned right side */
}

/* CARD */
.book-card {
 position: relative; 
 width: 200px;
}

.book-image {
  position: relative;
  height: 300px;
  border-radius: 18px;
  overflow: hidden;
}

.book-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* BEST SELLER BADGE */
.badge {
  position: absolute;
  top: 12px;
  background: #ff9f1c;
  color: white;
  padding: 12px 15px;
  font-size: 12px;
  border-radius: 20px;
  font-weight: 600;
  z-index: 2;

   /* ✅ curve only right side */
  border-radius: 0 20px 20px 0;
}

/* HOVER ICONS */
.hover-icons {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-10%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 0;
  transition: 0.3s;
}

.hover-icons button {
  background: white;
  border: none;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.book-image:hover .hover-icons {
  opacity: 1;
}

/* INFO */
.book-info {
  padding-top: 14px;
}

.category {
  font-size: 12px;
  color: #7b2cbf;
}

.book-info h4 {
  font-size: 16px;
  margin: 6px 0;
}

.author {
  font-size: 13px;
  color: #777;
}

.rating {
  font-size: 13px;
  margin: 6px 0;
  color: #f59e0b;
}

.price {
  font-size: 18px;
  font-weight: 700;
  color: #7b2cbf;
}

/* LOAD MORE */
.load-more {
  margin: 40px auto 0;
  display: block;
  padding: 12px 30px;
  border: none;
  background: #eee;
  border-radius: 20px;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 1100px) {
  .books-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .books-grid {
    grid-template-columns: 1fr;
  }
}
